.match-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.match-card {
  width: 200px;
  background: #e7e5e5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
}

.match-card img {
  width: 100px; /* Fixed size */
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.match-card button {
  padding: 8px;
  background: #7c0294;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.match-card button:hover {
  background: #451150;
}
